@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px rgba(255, 242, 252,0.8);
  }
  .font-outline-4 {
    -webkit-text-stroke: 2px rgb(75, 83, 45);
  }
}
body {
  min-height: 100vh !important;
  background-color: #efefef;
  background-repeat: no-repeat;
}
.jus{
  margin-top: 180px;
}
.about-us-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 1cap rgba(0, 0, 0, 0.1);
}
.generalHov{
  padding: 10px;
  border-radius: 20px;
}
.generalHov:hover{
  background: rgba(0, 0, 0, 0.6);
}
.about-us-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #666666;
}
@media (max-width: 600px) {
  .about-us-container {
    padding: 10px;
    margin: 10px auto;
  }


  .about-us-text {
    font-size: 11px;
    margin-bottom: 10px;
  }
}
.bg-footer-image{
  background-image: url(../assets/images/event3.png);
  background-repeat: no-repeat;
}
.bg-texture{
  background-image: url(../assets/images/event.png);
  background-repeat: no-repeat;
  background-position: fixed;
}